.git/
inst/doc
.Rproj.user/
/doc/
/Meta/
.Rhistory
.RData
.DS_Store
Thumbs.db
.Rproj.user
.httr-oauth
.quarto
IGNOREME*.rmd
vignettes/IGNOREME*.rmd
vignettes/IGNOREME*.r
.idea/
src/*.o
src/*.so
src/*.dll
src/*.dylib
.positai
